body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 80px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para mensagens de resultado */
.result {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.result p {
    margin: 5px 0;
}

/* Estilo para mensagens de erro */
.result p.error {
    color: red;
}

/* Estilo para mensagens de sucesso */
.result p.success {
    color: green;
}
